form#form-task.form-inline(class='todos')

  .form
   
    .main
      if(currentUser.host)
        a.btn.btn-primary.btn-lg.btn-block(type='button', href='/todos/new') 방 빌려주기
    .sub
      label  
    .actions
      if(currentUser.traveler)
        a.btn.btn-primary.btn-lg.btn-block(type='button', href='/todos/show') 방 보기
p
  호스트는 방빌려주기를 사용할수 있다. <br/>
  사용자는 방빌려주기를 사용할수 있다. <br/>
  사용자는 두가지 모두 선택 하지 않으면 아무것도 이용할 수 없다 내정보수정에서 변경 가능하다<br/>
p
center
  img(src="/images/picture1.jpg" width="100%" height="400" )
ul.tasks

.no-task 
  
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
