form#form-task.form-inline(class='todos')
  .form
    .main
     a.btn.btn-primary.btn-lg.btn-block(type='button', href='/todos/new') 방 빌려주기
    .sub
      label  
  .actions
      
     a.btn.btn-primary.btn-lg.btn-block(type='button', href='/todos/show') 방 보기
     
ul.tasks

.no-task 
  
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
