extends layout

block content
  #main.container.loading
    .row
   
        include ./includes/todo-main
   
    .spinner
      .background
      .foreground
        p
          i.fa.fa-circle-o-notch.fa-spin.fa-4x
        p Loading...
  script(src='/bower_components/socket.io-client/socket.io.js')
  script(type='text/javascript', src='/javascripts/todos.js')
